.article-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.article-content th,
.article-content td {
  border: 1px solid #d7d7d7;
  padding: 0.5rem;
  text-align: left;
}

.article-content th {
  background-color: #f5f5f5;
  font-weight: 600;
}

.article-content a {
  color: #c08c0a;
  text-decoration: underline;
}

.article-content a:hover {
  color: #000;
}
